* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #efefef;
  font-family: "Fredoka", sans-serif;
}

.title {
  text-align: center;
  font-size: 64px;
}

.description {
  text-align: center;
  font-size: 32px;
  font-weight: normal;
}